@import '../../globals/variables.css';

.root {
  flex: 1 0 auto;
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

.container {
  margin: 0 auto;
  max-width: var(--screen-xl);
  padding: 0 0 var(--default-padding-large);
}
